@inject IHttpContextAccessor httpContext;

@model Inventory_App.Models.User
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Inventory App</h1>
</div>

<div class="d-flex flex-column col-5">
    <form asp-action="Login">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        <div class="form-group">
            <label asp-for="Username" class="control-label"></label>
            <input asp-for="Username" class="form-control" value="test" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <br>
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" value="password"/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <br>
        <div class="form-group">
            <input type="submit" value="Login" class="btn btn-primary" />
        </div>
    </form>
</div>